@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --th-color: #c9a4f5;
    --th-hover-color: #f6f6f6;
    --box-mobile-color: #fafafa;
    --title-icon-color: #fff;
    --tran-05: all 0.5s ease;
    --tran-04: all 0.4s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --text-color-rever: #ffffff;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #1b3c5e;
    --box2-color: #645842;
    --box3-color: #433e4b;
    --th-color: #685580;
    --box-mobile-color: #363636;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

.table-mobile {
    display: none;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 12px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
    white-space: nowrap;
}

.uil-moon {
    opacity: 1;
    pointer-events: auto;
    transition: var(--tran-05);
}

.menu-items li a .link-name-current {
    color: var(--text-color-rever);
}

.menu-items li .link-current i {
    color: var(--text-color-rever);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

nav.close .logout-mod .uil-moon {
    pointer-events: none;
    transition: var(--tran-05);
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
    transition: 1s;
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color-rever);
    transition: 1s;
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-top: 1px solid var(--border-color);
}

.menu-items .dark-mode {
    cursor: default;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    border-top: 1px solid var(--border-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.shop-name {
    transition: var(--tran-05);
}

.shop-name:hover {
    color: var(--text-color-rever);
    transition: var(--tran-05);
    cursor: default;
}

.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
    transition: var(--tran-05);
}

.top .search-box input:hover {
    border: 1px solid #a8a8a8;
    transition: var(--tran-05);
}

.top .search-box i {
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top span {
    color: var(--text-color);
}

.dashboard .dash-content {
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    margin: 35px 0 15px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
}

.dash-content .description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding-bottom: 15px;
}

.dash-content .main-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.help-information-box h1 {
    color: var(--text-color);
    font-size: 34px;
}

.text-info {
    color: var(--text-color);
}

.dash-content .description .text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    width: 500px;
    text-align: center;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.boxes .box i {
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity .activity-data {
    display: flex;
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.activity-data .data-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.activity-data .data .data-list {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

.title-text {
    color: var(--text-color);
}

.total-info {
    color: var(--text-color);
}

.recent-type {
    background-color: #06a4ff;
    color: #151515;
}

.verb-unpublished {
    background-color: #c0ae00;
}

.verb-published {
    background-color: #00c086;
}

.verb-create {
    background-color: #00c036;
}

.verb-status_changed {
    background-color: #00c0c0;
}

.verb-destroy {
    background-color: #f5546e;
}

.verb-update {
    background-color: #54adf5;
}

.verb-confirmed {
    background-color: #9c54f5;
}

.verb-plus {
    background-color: #178100;
    color: #dadada;
}

.verb-minus {
    background-color: #8f0000;
    color: #dadada;
}

.hidden {
    display: none;
    transition: var(--tran-05);
}

.collapsible-data {
    max-height: 20px;
    overflow: hidden;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: var(--tran-05);
}

.activity-data label {
    z-index: 1;
}

input:checked ~ .collapsible-data {
    max-height: 300px;
    top: 0;
    padding-bottom: 180px;
    opacity: 1;
}

.mode {
    margin-bottom: -15px;
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav .uil-moon {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav.close li i {
        opacity: 1;
        pointer-events: auto;
    }

    nav ~ .dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav ~ .dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard .top {
        left: 250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data {
        /*overflow-X: scroll;*/
    }

    .nav-item-dashboard-3 {
        width: 100%;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }

    .dash-content .boxes .box3 {
        width: 100%;
        margin-top: 15px;
    }

    .table-plus {
        display: none;
    }

    .table-mobile {
        display: block;
        width: 780px;
    }

    .box-mobile-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
    }

    .table-mobile-desc {
        display: flex;
        align-content: stretch;
        padding-top: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .table-mobile-desc-fix {
        display: flex;
        padding-top: 10px;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-end;
    }

    .mobile-description-block {
        padding-bottom: 3px;
        padding-top: 9px;
    }

    .mobile-block-box {
        padding-bottom: 10px;
    }

    .box-mobile {
        background: var(--box-mobile-color);
    }

    .table-mobile-text {
        /*font-size: 14px;*/
        /*font-weight: 500;*/
        color: var(--text-color);
    }

    .table-mobile-description {
        font-weight: 500;
        font-size: 14px;
    }
}
@media (max-width: 560px) {

    .dash-content .boxes .box{
        width: 100% ;
    }

    .dashboard .top .shop-name {
        display: none;
    }

}

@media (max-width: 400px) {

    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .uil-moon {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav li i {
        opacity: 1;
        pointer-events: auto;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li i {
        opacity: 1;
        pointer-events: auto;
    }

    nav ~ .dashboard {
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav ~ .dashboard .top {
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard .top {
        left: 0;
        width: 100%;
    }

    .dashboard .top .shop-name {
        display: none;
    }
}
